<table>
  <tr>
    <th> 
      Sl No
    </th>
    <th> 
      Name
    </th>
    <th> 
      Total Points
    </th>
    <th> 
      Price
    </th>
    <th> 
      weekly_score
    </th>
  </tr>
  <% for(var i=0; i < AllDrivers.length; i++) { %> 
    <tr>
        <td> <%= AllDrivers[i].DriverID %></td>
        <td> <%= AllDrivers[i].Name %></td>
        <td> <%= AllDrivers[i].Tot_Points %></td>
        <td> <%= AllDrivers[i].Cost %></td>
        <td> <%= AllDrivers[i].Week_Points %></td>
        
    </tr>
   <% } %>
</table>

<div>
  <a href = "/admin/update_weekly_score"type="button">Update Weekly Score</a> 
  <br>
  <a href = "/admin/update_driver_price"type="button">Update Driver Price</a> 
  <br>
  <a href = "/admin/logout"type="button">Logout</a> 
</div>

<div>
  <p>Fun fact: You can't access this page without logging in</p>
</div>