<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/form/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/form/css/util.css">
    <link rel="stylesheet" type="text/css" href="/form/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!--===============================================================================================-->
</head>
<body>

    <div class="container-contact100">
        <div class="wrap-contact100">
                <span class="contact100-form-title">
                    Your Profile
                </span>

                <div class="contact100-form-body">
                    <span>Username: <%= User[0].username %></span><br>
                    <span>First Name: <%= User[0].first_name %></span><a href="/user/update_firstname"><i style="margin-left: 10px;" class="fas fa-edit"></i></a><br>
                    <span>Last Name: <%= User[0].last_name %></span><a href="/user/update_lastname"><i style="margin-left: 10px;" class="fas fa-edit"></i></a><br>
                    <span>Email: <%= User[0].email_id %></span><a href="/user/update_email"><i style="margin-left: 10px;" class="fas fa-edit"></i></a><br>
                    <span>Date of Birth: <%= User[0].dob %></span><br>
                </div>
                <div class="container-contact100-form-btn">
                    <a href="/user/home"><button class="contact100-form-btn">
                        <span>
                             Back to Dashboard
                            <i class="fas fa-arrow-left m-l-7" aria-hidden="true"></i>
                        </span>
                    </button></a>
                </div>
        </div>
    </div>


<!--===============================================================================================-->
    <script src="/form/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="/form/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="/form/vendor/bootstrap/js/popper.js"></script>
    <script src="/form/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="/form/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2").each(function(){
                $(this).on('select2:close', function (e){
                    if($(this).val() == "Please chooses") {
                        $('.js-show-service').slideUp();
                    }
                    else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
<!--===============================================================================================-->
    <script src="/form/vendor/daterangepicker/moment.min.js"></script>
    <script src="/form/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="/form/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="/form/vendor/noui/nouislider.min.js"></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [ 1500, 3900 ],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function( values, handle ) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    </script>
<!--===============================================================================================-->
    <script src="/form/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
