<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link type="text/css" href="/admin-dash/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/admin-dash/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="/admin-dash/css/theme.css" rel="stylesheet">
        <link type="text/css" href="/admin-dash/images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
            rel='stylesheet'>
        <script>
            function update_player_alert()
            {
                    alert("Disable transfers to update team points!")
            } 
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="/">FantasyOne</a>
                        <% if (lock ==1) {%>
                            <p class="brand" style="color:red;">Transfers have been locked</p>
                        <% } %>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        <% if (message != null) { %>
            <div class="alert alert-success">
                <% if (msg_code==1) { %>
                    <strong>Success!</strong> <br> <%= message %> 
                <% } %>
                <% if (msg_code==2) { %>
                    <strong>Success!</strong> <br> <%= message %> 
                <% } %>
            </div>
            
        <% }%>
        <div class="wrapper">
            <div class="container">
                <div class="row span9">
                    <h2>WELCOME</h2>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="#" class="btn-box big span6"><i class=" icon-random"></i><b> <%= avgpts %> </b>
                                        <p class="text-muted">
                                            Average Points of All Teams</p>
                                    </a><a href="#" class="btn-box big span6"><i class="icon-user"></i><b> <%=userCount %> </b>
                                        <p class="text-muted">
                                            Users</p>
                                    </a>
                                </div>
                                <div class="btn-box-row row-fluid">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <% if (lock ==1 ) {%>
                                                    <a href="/admin/update_all_team_points" class="btn-box big span6"><i class="icon-group"></i><b>Update All Team's Points</b>
                                                    </a>
                                                    <a href="/admin/enable_transfers" class="btn-box big span6"><i class="icon-exchange"></i><b>Enable Transfers</b></a>
                                                <%}  else { %>
                                                    <a href="#" onclick = "return update_player_alert();" class="btn-box big span6"><i class="icon-group"></i><b>Update All Team's Points</b>
                                                    </a>
                                                    <a href="/admin/disable_transfers" class="btn-box big span6"><i class="icon-exchange"></i><b>Disable Transfers</b></a>
                                                <% } %>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-box-row row-fluid">
                                    <a href="/admin/update_weekly_score" class="btn-box big span6"><i class=" icon-random"></i><b> Update Driver Weekly Score </b></a>
                                    <a href="/admin/update_driver_price" class="btn-box big span6"><i class="icon-user"></i><b>Update Driver Prices</b></a>
                                </div>
                                <div class="btn-box-row row-fluid">
                                    <a href="/admin/add_new_admin" class="btn-box big span6"><i class=" icon-random"></i><b>Add New Admin User</b></a>
                                    <a href="/admin/logout" class="btn-box big span6"><i class="icon-user"></i><b>Logout</b></a>
                                </div>
                            </div>
                            <!--/#btn-controls-->
                            <div class="module">
                                <div class="module-head">
                                    <h3>
                                        Driver Data</h3>
                                </div>
                                <div class="module-body table">
                                        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                            width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                         Driver ID
                                                    </th>
                                                    <th>
                                                        Name 
                                                    </th>
                                                    <th>
                                                        Total Points
                                                    </th>
                                                    <th>
                                                        Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <% for(var i=0; i < AllDrivers.length; i++) { %> 
                                                        <tr class = "odd gradeX">
                                                            <td> <%= AllDrivers[i].DriverID %></td>
                                                            <td> <%= AllDrivers[i].Name %></td>
                                                            <td> <%= AllDrivers[i].Tot_Points %></td>
                                                            <td class = "center"> <%= AllDrivers[i].Cost %></td>
                                                 
                                                            
                                                        </tr>
                                                       <% } %>
                                            </tbody>
                                            </tfoot>
                                        </table>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <script src="/admin-dash/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/admin-dash/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="/admin-dash/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/admin-dash/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="/admin-dash/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="/admin-dash/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/admin-dash/scripts/common.js" type="text/javascript"></script>
      
    </body>
