<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Score</title>

    <link type="text/css" href="/admin-dash/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/admin-dash/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/admin-dash/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/admin-dash/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
        rel='stylesheet'>
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous"></script>

        <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/form/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <!-- <link rel="stylesheet" type="text/css" href="/form/vendor/bootstrap/css/bootstrap.min.css"> -->
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/animate/animate.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/form/css/util.css">
        <link rel="stylesheet" type="text/css" href="/form/css/main.css">
    <!--===============================================================================================-->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<style>
.modal-backdrop
{
    opacity:0.5 !important;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-content{
    height: 800px;
    overflow-y: auto;
}
</style>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>

  $(function() {


    $(".btn").click(function(e){
  e.preventDefault();
  var $this = $(this);
  var fileName = $(this).data("book-id");
  console.log(fileName);
  $modal = $("#my_modal");

   $modal.modal('toggle', $(this));

 $("#my_modal").data("book-id", fileName).modal("toggle", $this);

});
    $('#my_modal').on('show.bs.modal', function(e) {
      console.log("hello")
      console.log(e)
      var bookId = $(this).data('book-id');
      console.log(bookId)
      $(e.currentTarget).find('input[name="DriverID"]').val(bookId);
  });

  });

  
</script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
             <a href="/admin/home/"><button style="margin-bottom: 40px"" class="contact100-form-btn">
                        <span>
                            Back to Admin Dashboard
                            <i class="fa fa-long-arrow-left m-l-7" aria-hidden="true"></i>
                        </span>
                    </button></a>
            <div class="row">
                <div class="span12">
                    <h4>UPDATE WEEKLY SCORE</h4>
                    <div class="content">
                        <div class="module">
                            <div class="module-body">
                            <% for(var i=0; i < AllDrivers.length; i++) { %>  
                            <% if (i%2==0) { %>
                                <div class="row-fluid">
                            <% } %>
                                    <div class="span6">
                                        <div class="media user">
                                            <a class="media-avatar pull-left" href="#">
                                                <img src= <%= AllDrivers[i].img %> >
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-title">
                                                    <%= AllDrivers[i].Name %>
                                                </h3>
                                                <p>
                                                    <%=AllDrivers[i].constructor%></p>
                                                    <div class="media-option btn-group shaded-icon">
                                                            <button class="btn" data-toggle="modal" data-book-id=<%= AllDrivers[i].DriverID %> data-target = "#my_modal">
                                                                UPDATE
                                                            </button>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                            <% if (i%2==1) { %>
                                </div>
                            <% } %>
                                
                            <% } %>
                                <!--/.row-fluid-->
                                <br />
                                
                                <!--/.row-fluid-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <!-- Modal -->
    <div class="modal hide" id="my_modal">
            <div class="modal-dialog">
              <div class="modal-content" >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <!-- <h4 class="modal-title">Modal header</h4> -->
                </div>
                
			<form class="contact100-form validate-form" action="/admin/update_weekly_score" method="POST">
				<span class="contact100-form-title">
					Update Driver Weekly Score
				</span>

				<!-- <div class="wrap-input100 validate-input bg1" data-validate="Please Type the Week Number">
					<span class="label-input100">Week Number *</span>
					<input class="input100" type="number" name="week_no" placeholder="Enter the Week Number" required>
                </div> -->
                <div class="wrap-input100 input100-select bg1">
                        <span class="label-input100">Week Number *</span>
                        <div>
                            <select class="js-select2" name="week_no">
                                <% for(var i=1; i <= 20; i++) { %> 
                                    <option> <%= i %> </option>  
                                <% } %>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                <div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Driver ID *</span>
					<div>
                            <input type="text" name="DriverID" value=""/>
						<div class="dropDownSelect2"></div>
					</div>
                </div>
                <div class="wrap-input100 input100-select bg1">
                        <span class="label-input100">Race Finish *</span>
                        <div>
                            <select class="js-select2" name="race_finish">
                                <% for(var i=0; i <= 10; i++) { %> 
                                    <option> <%= i %> </option>  
                                <% } %>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                </div>
                <div class="wrap-input100 input100-select bg1">
                        <span class="label-input100">Qualifying Finish *</span>
                        <div>
                            <select class="js-select2" name="qualifying_finish">
                                <% for(var i=0; i <= 10; i++) { %> 
                                    <option> <%= i %> </option>  
                                <% } %>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                </div>
    
    
                <!-- <div class="wrap-input100 validate-input bg1" data-validate="Please Type the Race Finish">
					<span class="label-input100">Race Finish * (0 if outside top 10)</span>
					<input class="input100" type="number" name="race_finish" placeholder="Enter the Race Finish" required>
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type the Qualifying Finish">
					<span class="label-input100">Qualifying Finish * (0 if outside top 10)</span>
					<input class="input100" type="number" name="qualifying_finish" placeholder="Enter the Qualifying Finish" required>
                </div> -->
                <div class="wrap-input100 validate-input bg1 " data-validate="Please Type the Number of Overtakes">
					<span class="label-input100">Number of Overtakes *</span>
					<input class="input100" type="number" name="no_overtakes" placeholder="Enter the Number of Overtakes" required>
                </div>
                
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
					<span class="label-input100">Beat Teammate in the Race?*</span>
					<input class="input100" type="checkbox" name="beat_teammate_race">
                </div>

                <div class="wrap-input100 validate-input bg1">
                        <span class="label-input100">Beat Teammate in Qualifying?*</span>
                        <input class="input100" type="checkbox" name="beat_teammate_qualifying">
                </div>
                
                <!-- <div class="wrap-input100 validate-input bg1" data-validate="Please Type the Number of Overtakes">
					<span class="label-input100">Number of Overtakes *</span>
					<input class="input100" type="number" name="no_overtakes" placeholder="Enter the Number of Overtakes" required>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Password">
					<span class="label-input100">Password *</span>
					<input class="input100" type="password" name="password" placeholder="Enter Your Password " required>
				</div> -->

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>

                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
    <script src="/admin-dash/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/admin-dash/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="/admin-dash/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/admin-dash/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
</body>
